<div *ngIf="books">

    <h2>{{book.name | uppercase}} Details</h2>
    <div><span>id: </span>{{book.id}}</div>
    <div>
      <label for="book-name">Book name: </label>
      <input id="book-name" [(ngModel)]="books.name" placeholder="name">
    </div>
    <div>
      <label for="book-author">Author: </label>
      <input id="book-author" [(ngModel)]="books.author" placeholder="author">
    </div>
    <div>
      <label for="book-pub-date">Public Date: </label>
      <input id="book-pub-date" [(ngModel)]="books.date_pub" placeholder="Date">
    </div>
    <div>
      <label for="book-category">Category: </label>
      <input id="book-category" [(ngModel)]="books.category" placeholder="Category">
    </div>
  
  </div>