<div class="form-group row">

    <label class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="bookName"
        placeholder="Enter Book Name">
    </div>
</div>
<div class="form-group row">

    <label class="col-sm-2 col-form-label">Author</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="bookAuthor"
        placeholder="Enter Author">
    </div>
</div>
<div class="form-group row">

    <label class="col-sm-2 col-form-label">Pubdate</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="bookPubdate"
        placeholder="Enter Pubdate">
    </div>
</div>
<div class="form-group row">

    <label class="col-sm-2 col-form-label">Catagory</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="bookCategory"
        placeholder="Enter Book Category">
    </div>
</div>

<div class="form-group row">

    <label class="col-sm-2 col-form-label">Picture</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="bookPic"
        placeholder="Enter PictureURL">
    </div>
</div>

<button (click)="addBook()" *ngIf="book.id==0" class="btn btn-primary float-right">
    Add
</button>
<button (click)="updateBook()" *ngIf="book.id!=0" class="btn btn-primary float-right">
    Update
</button>